*{
margin: 0;
padding:0;
}

.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

a {
	color: #E8C52D;
	display: block;
	font-size: 20px;
	float: left;
	padding: 0 20px 0 20px;
	text-decoration: none;
}

body {
	text-align: center;
}

h1 {
	color: #E8C52D;
	padding-top: 30px;
	text-align: center;
}

header {
	background: #dfdfde;
}

nav {
	float: right;
}

.box1 {
	background: #dfdfde;
}

.box2 {
	background: ##E8C52D;
}

.boxes {
	display: inline-block;
	margin: 15px;
	width: 260px;
}

.main {
	background: #fff;
	margin: 1.5em 2em 2em 0; /*only margin-top works???*/
}

#john {
	display: inline;
	float: left;
	margin: 0 0 1em 1em;
	width: 30%;
	
}

#logo {
	float: left;
	padding-top: 8px 0 0 20px;
	position: fixed;
	top: 30px;
	left: 30px;
	width: 98px;
}

#main_p { /*how to make this section center?*/
	text-align: center;
	width: 900px;
}

#paragraph {
	float: left;
	display: inline;
}

