* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #0A3D3E;
	font-family: "Times New Roman", Serif;
}
header {
	height: 140px;
	background: #143837;
	position: relative;
	border: #EA5756 solid 2px;
	margin-bottom: 20px;
}
h1 {
	color: #CBC645;
	float:left;
	font-size: 40px;
	font-family: Arial, Serif;
	padding: 30px 0px 0px 120px;
}

img {
	float:left;
	padding: 10px 0px 0px 10px;
	width: 130px;
}

p {
	margin: 0 10px 0 10px;
}

a {
	text-decoration: none;
	color: #CBC645;
}

.wrapper {
	height: 1000px;
	width: 900px;
	padding: 10px 10px;
	background: #0F0F0F;
	margin: 0 auto;
	border-left: #FF0001 solid 2px;
	border-right: #FF0001 solid 2px;
}
.main {
	position: relative;
	border: #EA5756 solid 2px;
}

.sidebar1 {
	float: left;
	width: 150px;
	background: #143837;
	border: black solid;
	border: #EA5756 solid 2px;
	height: 400px;
}

.sidebar2 {
	text-align: justify;
	display: block;
	margin-bottom: 10px;
}

.content {
	float: left;
	width: 722px;
	background: #fff;
	border: black solid;
	border: #EA5756 solid 2px;
	margin-left: 20px;
	height: 635px;
}

.contact1 {
	background: #143837;
	margin-top: 765px;
	border: #EA5756 solid 2px;
}

.contact2 {
	display: inline;
	padding: 0px 40px;
}

#slogan {
	font-style: italic;
	font-size: 30px;
}

#phone {
	color: #CBC645;
}

